.btn{
    background: #000;
    border-radius: 0;
    border: 1px solid darken(#7b521f, 10);
	color: #fff;
    font-size: 0.7em;
	margin-bottom: 20px;
	padding: 10px 60px;
	&:hover{
        border: 1px solid #7b521f;
		color: #fff;
	}
    &:focus,
    &:active{
        background: url(/nwn-fight-simulator/img/button_bg.jpg) center;
    }
	&.disabled{
		background: url(/nwn-fight-simulator/img/button_bg.jpg) center;
        color: #fff;
        opacity: 1;
	}
	&.btn-red{
		background-color: #e74045;
	}
	&.btn-green{
		background-color: #25d1ae;
	}
}

.btn-container{
    border-radius: 5px 5px 0 0;
    bottom: 0;
    display: inline-block;
    height: 22px;
    position: absolute;
    width: 90px;
    &.active{
        height: 30px;
    }
    .btn-menu{
        border-top: 1px solid #666;
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        border-radius: 5px 5px 0 0;
        vertical-align: top;
    }
}

#statistics,
#char-statistics{
    left: 89px;
}

