html, body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	width: 100%;
}

body{
	background: url(/img/nwn_bg.jpg) center no-repeat;
    background-attachment: fixed;
	background-size: cover;
    background-position: 0px 0px;
	min-height: 100%;
}

img{
    width: 100%;
}

ul{
	list-style-type: none;
}

a{
	@include transition(all 0.3s ease);
	color: #fff;
	text-decoration: none;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

.overlay{
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	position: fixed;
	width: 100%;
}

.container{
    margin-bottom: 120px;
}

.capitalize{
    text-transform: capitalize;
}

.border-top{
    border-top: 1px solid #666;
}

.fixed-height{
    height: 32px;
}

.overflow-hidden{
    overflow: hidden;
}

.tooltip{
    font-size: 0.8em;
}