// Margins and padding ======================================================
@each $value in $margin-and-padding-values {
	.margin-#{$value} {margin: #{$value}px;}
	.margin-top-#{$value} {margin-top: #{$value}px;}
	.margin-bottom-#{$value} {margin-bottom: #{$value}px;}
	.margin-right-#{$value} {margin-right: #{$value}px;}
	.margin-left-#{$value} {margin-left: #{$value}px;}
	.margin-x-#{$value} {margin-left: #{$value}px; margin-right: #{$value}px;}
	.margin-y-#{$value} {margin-top: #{$value}px; margin-bottom: #{$value}px;}

	.padding-#{$value} {padding: #{$value}px;}
	.padding-top-#{$value} {padding-top: #{$value}px;}
	.padding-bottom-#{$value} {padding-bottom: #{$value}px;}
	.padding-right-#{$value} {padding-right: #{$value}px;}
	.padding-left-#{$value} {padding-left: #{$value}px;}
	.padding-x-#{$value} {padding-left: #{$value}px; padding-right: #{$value}px;}
	.padding-y-#{$value} {padding-top: #{$value}px; padding-bottom: #{$value}px;}

	.top-minus-#{$value} {margin-top: -#{$value}px;}
	.left-minus-#{$value} {margin-left: -#{$value}px;}
	.right-minus-#{$value} {margin-right: -#{$value}px;}
}

// Transitions ======================================================
@each $item in $transition-settings {
		$class-postfix-prop: nth($item, 1);
		$class-postfix-time: nth($item, 2);
		$property: nth($item, 3);
		$time: nth($item, 4);
		$easing: nth($item, 5);

		.transition-#{$class-postfix-prop}-#{$class-postfix-time} {
				@include transition-prefix($property, $time, $easing);
		}
}

// Display ======================================================
@each $item in $display-settings {
	.#{$item} {display: #{$item};}
}

// Text-align ======================================================
@each $item in $align-settings {
    .#{$item} {text-align: #{$item};}
}