.report-log{
	border: 1px solid darken(#7b521f, 10);
    font-size: 0.9em;
	min-height: 150px;
	max-height: 150px;
	overflow-y: scroll;
    .character{
        color: $char;
    }
    .opponent{
        color: $opp;
    }
    .text{
        color: $text;
    }
}