// Margins and padding ========================================================================
$margin-and-padding-values: 0, 3, 5, 7, 8, 9, 10, 15, 16, 20, 23, 24, 25, 27, 30, 32, 35, 40, 50, 60, 65, 70, 80, 85, 90, 95, 100;

// Transitions ===============================================
$transition-settings:
		("all", "03", all, 0.3s, ease)
		("color", "03", color, 0.3s, ease)
		("background", "03", background-color, 0.3s, ease)
		("all", "05", all, 0.5s, ease)
		("color", "05", color, 0.5s, ease)
		("background", "05", background-color, 0.5s, ease);

// Display ===================================================
$display-settings: 'block', 'inline-block', 'inline', 'none';

$char: #99ffff;
$opp: #cc99cc;
$text: #ff6601;